.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    margin-bottom: 15%;
}

.card-text {
    text-align: right;
    font-weight: bold;
}

.card-footer {
    width: 100%;
    text-align: right;
}

.card-image {
    flex-basis: 200px;
    flex-shrink: 0;
}

#heartIcon {
    font-size: 16pt;
    margin-left: 5%;
}